@charset "utf-8";
// ModalFooter グローバルスタイル
// ReactModalのグローバルクラス用スタイル定義

.modal-footer__overlay {
  display: flex;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: flex-end;
  justify-content: center;
  // padding: 16px;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}

.modal-footer__overlay--after-open {
  opacity: 1;
}

.modal-footer__overlay--before-close {
  opacity: 0;
}

.modal-footer__content {
  position: relative;
  width: 100%;
  max-width: 540px;
  max-height: 80vh;
  overflow: auto;
  transform: translateY(20px);
  transition: transform 0.2s ease-in-out;
  // border-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #fff;
}

.modal-footer__overlay--after-open .modal-footer__content {
  transform: translateY(0);
}

.modal-footer__overlay--before-close .modal-footer__content {
  transform: translateY(20px);
}

.modal-footer__body--open {
  overflow: hidden;
}