@charset "utf-8";
@use "sass:color";
@use "../global/global" as g;

$fixed_height:80px;

.outer {
  position: relative;
  width: 100%;
  margin-top: 100px;
  margin-bottom: $fixed_height;
  padding: 40px 0;
  background-color: var(--clrg100);
  @media #{g.$md} {
    margin-bottom: 0;
  }
}

// ナビゲーション機能
.navigation--container {
  position: fixed;
    z-index: g.get_zindex(footer);
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  gap: 10px;
  // backdrop-filter: blur(4px);
}

.navigation--columns {
  flex: 1 0 0%;
}

%navigation-button-base {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
height: 48px;
  // padding: 12px 10px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
line-height: 1.1;
text-align: center;
}

.navigation--button {
  @extend %navigation-button-base;
  border: 1px solid var(--clr1);
  background-color: var(--clr1);
  color: #fff;
}

.navigation--button-even {
  @extend %navigation-button-base;
  border: 1px solid var(--clr1);
  background-color: #fff;
  color: var(--clr1);
}

.phone--icon {
  width: 26px;
  height: 26px;
  margin-right: 6px;
}