@charset "utf-8";
@use "sass:color";
@use "./global/global" as g;

$fixed_height:56px;

.outer {
  position: relative;
  width: 100%;
  margin-bottom: $fixed_height;
  padding: 40px 0;
  background-color: var(--clrg100);
  @media #{g.$md} {
    margin-bottom: 0;
  }
}

